/*colocar el codigo para el reset valores*/

body{background-color: #ddd;}

#contenedor{
    background-color: grey;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

article{
    padding-top: 20px;
    column-count: 3;
    column-gap: 20px;
    column-rule: dotted 4px #ccc;
}